USE [master]
GO
/****** Object:  Database [ATLAS_DB]    Script Date: 07/18/2016 3:40:15 AM ******/
CREATE DATABASE [ATLAS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATLAS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ATLAS_DB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ATLAS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ATLAS_DB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATLAS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATLAS_DB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 07/18/2016 3:40:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[AccountLevel] [int] NOT NULL CONSTRAINT [DF_Accounts_AccountLevel]  DEFAULT ((0)),
	[RemainingPlayTime] [int] NOT NULL CONSTRAINT [DF_Accounts_RemainingPlayTime]  DEFAULT ((0)),
	[Token] [varchar](50) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
