<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" internalLogLevel="Off" internalLogFile="nlog-internal.log">

  <time xsi:type="FastUTC" />
  <variable name="accountLayout" value=" [${event-context:item=account_user}&lt;${event-context:item=account_id}&gt;-${event-context:item=account_level}]" />
  <variable name="accountCondition" value="${when:when=length('${event-context:item=account_id}') &gt; 0:inner=${accountLayout}}" />
  <variable name="fileLayout" value="${longdate}|${level:uppercase=true}|${logger:shortName=true}-&gt;${event-properties:item=CallerMemberName}:${callsite-linenumber}|${accountCondition}|${message} ${onexception:inner=${newline}${exception:format=tostring}}" />
  <variable name="consoleLayout" value="[${logger:shortName=true}-&gt;${event-properties:item=CallerMemberName}:${callsite-linenumber}]${accountCondition} ${message} ${onexception:inner=${newline}${exception:format=tostring}}" />

  <targets>
    <target xsi:type="AsyncWrapper" name="fileTarget" overflowAction="Grow">
      <target xsi:type="File" fileName="${basedir}/logs/${level}_${shortdate}.log" layout="${fileLayout}" keepFileOpen="true" />
    </target>

    <target xsi:type="AsyncWrapper" name="consoleTarget" overflowAction="Grow">
      <target xsi:type="ColoredConsole" layout="${consoleLayout}">
        <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkCyan" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkGreen" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
  </rules>
</nlog>